.link {
  text-decoration: none;

  color: $color-link;

  transition: all 0.4s ease;

  &:hover {
    color: $wild-blue-yonder;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    color: $athens-gray;
  }

  &:visited {
    color: $color-link;
  }

  &--btn {
    background-color: transparent;
  }
}
