.reviews {
  height: rem(250px);

  @media #{$screen-desk} {
    height: rem(320px);
  }

  &__item {
    width: rem(288px);
    height: rem(250px);

    @media #{$screen-medium} {
      width: rem(340px);
    }

    @media #{$screen-desk} {
      width: rem(580px);
      height: rem(320px);
    }
  }
}
