.body {
  &__wrapper {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;

    @media #{$screen-desk} {
      flex-direction: row;
    }
  }

  &__main {
    width: 100%;
  }
}
