.body {
  &__wrapper {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: flex-start;

    @media #{$screen-desk} {
      flex-direction: row;
    }
  }

  &__title {
    font-size: rem(30px);
    line-height: 1.3;
    margin-bottom: rem(30px);
    @media #{$screen-desk} {
      margin-bottom: rem(40px);
    }
  }

  &__main {
    width: 100%;
  }

  &__btn {
    margin-bottom: rem(30px);
  }

  &__breadcrumbs {
    margin-bottom: rem(10px);

    @media #{$screen-medium} {
      margin-bottom: rem(15px);
    }
  }
}
