.cards {
  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: rem(-20px);
    margin-bottom: rem(11px);

    @media #{$screen-medium} {
      margin-left: rem(-10px);
      margin-right: rem(-10px);
    }

    @media #{$screen-medium} {
      margin-left: rem(-16px);
      margin-right: rem(-16px);
    }
  }

  &__item {
    display: flex;

    width: 100%;
    margin-bottom: rem(20px);

    @media #{$screen-medium} {
      width: percentage(1/2);
      padding-left: rem(10px);
      padding-right: rem(10px);
    }

    @media #{$screen-desk} {
      width: percentage(1/3);
      margin-bottom: rem(30px);
      padding-left: rem(16px);
      padding-right: rem(16px);

      &:nth-child(4) {
        order: 3;
      }
    }

    &--sale {
      @media #{$screen-medium} {
        width: 100%;
      }
    }

    &--big {
      @media #{$screen-medium} {
        width: 100%;
      }

      @media #{$screen-desk} {
        width: percentage(2/3);
        order: 3;
      }
    }
  }

  &__btn {
    text-align: -webkit-center;
  }
}
