.faq {
  &__block {
    margin-bottom: rem(40px);
  }

  &__title {
    font-size: $font-size-normal;
    font-weight: 500;

    margin-bottom: rem(24px);

    @media #{$screen-desk} {
      font-size: $font-size-medium;
    }
  }

  &__btn {
    margin-top: rem(10px);

    @media #{$screen-desk} {
      margin-top: rem(40px);
    }
  }
}
