.form {
  &__field {
    position: relative;

    display: flex;
    flex-direction: column;

    &-block {
      &--search {
        position: absolute;
        left: rem(10px);

        transform: translateY(45%);
      }
    }
  }

  &__label {
    font-size: rem(12px);
    line-height: 1.6;

    display: flex;

    letter-spacing: 0.01em;

    &-star {
      color: $error-color;
    }

    &-text {
      display: inline-block;

      color: #4b4b4b;

      &--disabled {
        color: $heather;
      }
      &--error {
        color: $error-color;
      }
    }
  }
}
