.input {
  &__control {
    max-width: rem(335px);
    height: rem(50px);
    width: 100%;

    padding: rem(17px) rem(20px);

    border-radius: $border-radius-base;
    border: rem(1px) solid $athens-gray;

    &::placeholder {
      color: $placeholder-color;
    }

    &:focus {
      border-color: $slate-gray;
      outline: none;
    }

    &:disabled {
      background-color: $unactive-back-color;
    }

    &--error {
      border-color: $error-color;

      &:focus {
        border-color: $error-color;
      }
    }

    &--search {
      border: none;
      border-radius: 0;
      border-top: 1px solid $athens-gray;

      min-width: 100%;
      height: 40px;
      padding: rem(8px) rem(20px) rem(8px) rem(49px);

      &:focus {
        border-color: $athens-gray;
      }

      @media #{$screen-medium} {
        padding-left: rem(39px);

        border: rem(1px) solid $athens-gray;
        border-radius: $border-radius-base;
      }
    }
  }
}
