.logo {
  &--header {
    height: rem(31px);
  }

  &__pic {
    &--header {
      width: rem(135px);
      height: rem(30px);
    }

    &--footer {
      height: rem(18px);
      color: $heather;
    }
  }
}
