.menu-btn {
  width: 100%;

  background-color: purple;
  color: $white;

  padding: rem(20px);
  margin-bottom: rem(20px);

  border-radius: rem(6px);

  @media #{$screen-desk} {
    display: none;
  }
}
