.menu-btn {
  width: 100%;

  margin-bottom: rem(20px);
  padding: rem(20px);

  color: $white;
  background-color: purple;

  border-radius: rem(6px);

  @media #{$screen-desk} {
    display: none;
  }
}
