.profile {
  position: relative;

  &__link {
    position: absolute;

    width: 100%;
    height: 100%;
  }

  &__block {
    display: none;

    @media #{$screen-medium} {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem(10px);

      width: rem(150px);
    }
  }

  &__icon {
    width: rem(24px);
    height: rem(24px);

    color: $color-link;

    &:hover {
      color: $wild-blue-yonder;
    }

    &:active {
      opacity: 0.5;
    }

    @media #{$screen-medium} {
      display: none;
    }

    &-pic {
      width: rem(24px);
      height: rem(24px);
    }
  }

  &__name {
    width: rem(90px);

    padding-left: rem(10px);

    word-break: break-word;

    color: $slate-gray;
  }

  &__avatar {
    height: rem(40px);
    width: rem(40px);

    background-image: url("../../public/images/icons/userpic.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 50%;
    &-pic {
      width: rem(40px);
      height: rem(40px);

      border-radius: 50%;

      &:not([src="../public/images/news-img.jpg"]) {
        display: none;
      }

      &[src=""] {
        display: none;
      }
    }
  }
}
