.select {
  position: relative;

  .select2-container {
    .select2-selection {
      &::after {
        position: absolute;
        top: 0;
        right: rem(10px);
        bottom: 0;

        display: block;

        width: rem(24px);
        height: rem(24px);

        margin-top: auto;
        margin-bottom: auto;

        content: "";

        color: $wild-blue-yonder;

        transition: all 0.3s ease;

        background-image: url("/public/images/icons/dropdown.svg");
      }
    }
  }

  .select2-container--default {
    .select2-selection--single {
      height: rem(50px);

      background-color: $white;
      border: rem(1px) solid $athens-gray;
      border-radius: $border-radius-base;

      .select2-selection__rendered {
        line-height: rem(15px);

        padding: rem(17px) rem(34px) rem(17px) rem(20px);

        color: $bunker;
      }

      .select2-selection__placeholder {
        color: $heather;
      }

      .select2-selection__arrow {
        display: none;
      }
    }
  }

  .select2-search--dropdown {
    display: none;
  }

  .select2-dropdown {
    background-color: $white;
    border: rem(1px) solid $slate-gray;
  }

  .select2-results {
    padding-right: 0.3125rem;
  }

  .select2-results > .select2-results__options {
    max-height: rem(160px);

    color: $bunker;

    &::-webkit-scrollbar {
      width: 0.3125rem;

      &-button {
        background-color: #fff;
        height: 0.3125rem;
      }

      &-thumb {
        border-radius: 10px;
        background-color: #34aadd;
      }

      &-track {
        background-color: #ebebf1;
        border: 0.0625rem solid #fff;
        border-radius: 0.125rem;
      }
    }
  }

  .select2-results__option {
    padding: rem(18px) rem(20px);

    &[aria-selected="true"],
    &--highlighted[aria-selected] {
      color: $bunker;
      background-color: rgba($slate-gray, 0.05);
    }
  }

  .select2-results__option--selected {
    font-weight: 700;

    color: $wild-blue-yonder !important;
    background-color: transparent;
  }

  .select2-container {
    width: 100% !important;

    &.select2 {
      &:focus {
        outline: none;
      }
    }

    &.select2-container--open {
      .select2-selection {
        &::after {
          transform: rotate(180deg);
        }
      }

      .select2-selection--single {
        border: rem(1px) solid $slate-gray;
      }
    }

    &.select2-container--above {
      .select2-selection--single {
        border-top: none;
      }
    }

    &.select2-container--below {
      .select2-selection--single {
        border-bottom: none;
      }
    }

    .select2-cntainer--default {
      .select2-selection--single {
        .select2-selectioin--placeholder {
          font-size: rem($font-size-small);
          line-height: rem(15px);

          display: block;
          overflow: hidden;

          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
