.slider {
  &__cards {
    display: flex;
    gap: rem(32px);
  }
  &__card {
    position: relative;

    display: flex;
    flex-direction: column;

    width: rem(286px);
    // height: rem(150px);

    padding: rem(16px) rem(16px) 0;

    border-radius: $border-radius-base;

    box-shadow: 0 rem(3px) rem(10px) 0 rgba(164, 164, 164, 0.03),
      0 rem(12px) rem(40px) 0 rgba(0, 0, 0, 0.03);

    // &-link {
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;

    //   height: 100%;
    //   width: 100%;

    //   z-index: 2;
    // }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      margin-bottom: rem(10px);
    }

    &-icon {
      font-size: $font-size-base;
      height: rem(20px);
      width: rem(20px);
    }

    &-text {
      font-size: $font-size-small;
      line-height: 1.2;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;

      margin-bottom: rem(20px);

      word-wrap: break-word;
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;

      margin-right: rem(-16px);

      z-index: 3;
    }
  }
}
