.socials {
  display: flex;
  flex-direction: row;
  gap: rem(23px);

  &__item {
    height: rem(40px);
  }

  &__link {
    &-pic {
      width: rem(40px);
      height: rem(40px);
      color: $heather;
    }
  }

  @media #{$screen-desk} {
    padding-right: rem(40px);
    border-right: rem(1px) solid rgba($heather, 0.6);
  }
}
