.title {
  font-weight: 500;

  &--card {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    margin-bottom: rem(10px);
  }

  &--slide {
    font-size: $font-size-base;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
