.title {
  &--unactive {
    color: $unactive-color;
  }

  &--line {
    position: relative;

    display: inline-block;

    padding-bottom: rem(11px);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: rem(4px);
      width: 100%;

      content: "";

      background-color: $cerise-red;

      border-radius: $border-radius-base $border-radius-base 0 0;
    }
  }
}
